body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

/* viewport width resizes text based on the screen size */

h1 {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    width: 16%;
}

ul {
    margin: 0px;
}

body > header {
    background-color: blue;
    color: whitesmoke;
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: space-around;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

body > main > article{
    width: 70%;
    margin: auto;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

/* the above is a direct decendent/ child selector */

body > footer {
    background-color: blue;
    display: flex;
}

img {
    border-radius: 100%;
}

#footer-ul{
    display: flex;
    list-style: none;
}

#footer-ul > div > li{
    margin-left: 12px;
}

#footer-ul > div > li > a{
    color: whitesmoke;
    text-decoration: none;
}